// Fonts
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
	font-family: $font_name;
	font-display: swap;
	src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
	font-weight: #{$weight};
	font-style: #{$style};
	}
}

// px to rem
@function rem($pixels, $context: $mainFontSize) {
	@if (unitless($pixels)) {
	  $pixels: $pixels * 1px;
	}
	@if (unitless($context)) {
	  $context: $context * 1px;
	}
	@return $pixels / $context * 1rem;
}

@mixin placeholder {
	::-webkit-input-placeholder {
		@content;
	}
	:-moz-placeholder {
		@content;
	}
	::-moz-placeholder {
		@content;
	}
	:-ms-input-placeholder {
		@content;
	}
}

@mixin IBMPlexSerif-bold {
	font-family: 'IBMPlexSerif';
	font-weight: 700;
}

@mixin Montserrat-bold {
	font-family: 'Montserrat';
	font-weight: 700;
}

@mixin Montserrat-regular {
	font-family: 'Montserrat';
	font-weight: 400;
}